Repository ElixirNote/elixirnote, changes with the labels that .github/labeler.yml gives for each.
All labels: Design System CSS, documentation, tag:CSS, tag:Design and UX, tag:Examples, tag:Testing, pkg:application, pkg:apputils, pkg:attachments, pkg:cells, pkg:celltags, pkg:codeeditor, pkg:codemirror, pkg:completer, pkg:console, pkg:coreutils, pkg:csvviewer, pkg:debugger, pkg:docmanager, pkg:docprovider, pkg:docregistry, pkg:documentsearch, pkg:extensionmanager, pkg:filebrowser, pkg:fileeditor, pkg:help, pkg:htmlviewer, pkg:hub, pkg:imageviewer, pkg:inspector, pkg:javascript, pkg:json, pkg:launcher, pkg:logconsole, pkg:mainmenu, pkg:markdownviewer, pkg:mathjax2, pkg:notebook, pkg:observables, pkg:outputarea, pkg:pdf, pkg:property-inspector, pkg:rendermime, pkg:running, pkg:services, pkg:settingeditor, pkg:settingregistry, pkg:shared-models, pkg:shortcuts, pkg:statedb, pkg:statusbar, pkg:terminal, pkg:themes, pkg:toc, pkg:tooltip, pkg:translation, pkg:ui-components, pkg:vdom, pkg:vega

.github/labeler.yml:

Design System CSS:
  - '**/*.css'
  - '*.css'

documentation:
  - docs/**/*
  - docs/*

tag:CSS:
  - '**/*.css'
  - '*.css'

'tag:Design and UX':
  - design/**/*
  - design/*

tag:Examples:
  - examples/**/*
  - examples/*

tag:Testing:
  - tests/**/*
  - tests/*
  - galata/**/*
  - galata/*

######################
#   Package Labels   #
######################

pkg:application:
  - packages/application/**/*
  - packages/application/*
  - packages/application-extension/**/*
  - packages/application-extension/*

pkg:apputils:
  - packages/apputils/**/*
  - packages/apputils/*
  - packages/apputils-extension/**/*
  - packages/apputils-extension/*

pkg:attachments:
  - packages/attachments/**/*
  - packages/attachments/*

pkg:cells:
  - packages/cells/**/*
  - packages/cells/*

pkg:celltags:
  - packages/celltags/**/*
  - packages/celltags/*
  - packages/celltags-extension/**/*
  - packages/celltags-extension/*

pkg:codeeditor:
  - packages/codeeditor/**/*
  - packages/codeeditor/*

pkg:codemirror:
  - packages/codemirror/**/*
  - packages/codemirror/*
  - packages/codemirror-extension/**/*
  - packages/codemirror-extension/*

pkg:completer:
  - packages/completer/**/*
  - packages/completer/*
  - packages/completer-extension/**/*
  - packages/completer-extension/*

pkg:console:
  - packages/console/**/*
  - packages/console/*
  - packages/console-extension/**/*
  - packages/console-extension/*

pkg:coreutils:
  - packages/coreutils/**/*
  - packages/coreutils/*

pkg:csvviewer:
  - packages/csvviewer/**/*
  - packages/csvviewer/*
  - packages/csvviewer-extension/**/*
  - packages/csvviewer-extension/*

pkg:debugger:
  - packages/debugger/**/*
  - packages/debugger/*
  - packages/debugger-extension/**/*
  - packages/debugger-extension/*

pkg:docmanager:
  - packages/docmanager/**/*
  - packages/docmanager/*
  - packages/docmanager-extension/**/*
  - packages/docmanager-extension/*

pkg:docprovider:
  - packages/docprovider/**/*
  - packages/docprovider/*
  - packages/docprovider-extension/**/*
  - packages/docprovider-extension/*

pkg:docregistry:
  - packages/docregistry/**/*
  - packages/docregistry/*

pkg:documentsearch:
  - packages/documentsearch/**/*
  - packages/documentsearch/*
  - packages/documentsearch-extension/**/*
  - packages/documentsearch-extension/*

pkg:extensionmanager:
  - packages/extensionmanager/**/*
  - packages/extensionmanager/*
  - packages/extensionmanager-extension/**/*
  - packages/extensionmanager-extension/*

pkg:filebrowser:
  - packages/filebrowser/**/*
  - packages/filebrowser/*
  - packages/filebrowser-extension/**/*
  - packages/filebrowser-extension/*

pkg:fileeditor:
  - packages/fileeditor/**/*
  - packages/fileeditor/*
  - packages/fileeditor-extension/**/*
  - packages/fileeditor-extension/*

pkg:help:
  - packages/help-extension/**/*
  - packages/help-extension/*

pkg:htmlviewer:
  - packages/htmlviewer/**/*
  - packages/htmlviewer/*
  - packages/htmlviewer-extension/**/*
  - packages/htmlviewer-extension/*

pkg:hub:
  - packages/hub-extension/**/*
  - packages/hub-extension/*

pkg:imageviewer:
  - packages/imageviewer/**/*
  - packages/imageviewer/*
  - packages/imageviewer-extension/**/*
  - packages/imageviewer-extension/*

pkg:inspector:
  - packages/inspector/**/*
  - packages/inspector/*
  - packages/inspector-extension/**/*
  - packages/inspector-extension/*

pkg:javascript:
  - packages/javascript-extension/**/*
  - packages/javascript-extension/*

pkg:json:
  - packages/json-extension/**/*
  - packages/json-extension/*

pkg:launcher:
  - packages/launcher/**/*
  - packages/launcher/*
  - packages/launcher-extension/**/*
  - packages/launcher-extension/*

pkg:logconsole:
  - packages/logconsole/**/*
  - packages/logconsole/*
  - packages/logconsole-extension/**/*
  - packages/logconsole-extension/*

pkg:mainmenu:
  - packages/mainmenu/**/*
  - packages/mainmenu/*
  - packages/mainmenu-extension/**/*
  - packages/mainmenu-extension/*

pkg:markdownviewer:
  - packages/markdownviewer/**/*
  - packages/markdownviewer/*
  - packages/markdownviewer-extension/**/*
  - packages/markdownviewer-extension/*

pkg:mathjax2:
  - packages/mathjax2/**/*
  - packages/mathjax2/*
  - packages/mathjax2-extension/**/*
  - packages/mathjax2-extension/*

pkg:notebook:
  - packages/notebook/**/*
  - packages/notebook/*
  - packages/notebook-extension/**/*
  - packages/notebook-extension/*

pkg:observables:
  - packages/observables/**/*
  - packages/observables/*

pkg:outputarea:
  - packages/outputarea/**/*
  - packages/outputarea/*

pkg:pdf:
  - packages/pdf-extension/**/*
  - packages/pdf-extension/*

pkg:property-inspector:
  - packages/property-inspector/**/*
  - packages/property-inspector/*

pkg:rendermime:
  - packages/rendermime/**/*
  - packages/rendermime/*
  - packages/rendermime-interfaces/**/*
  - packages/rendermime-interfaces/*
  - packages/rendermime-extension/**/*
  - packages/rendermime-extension/*

pkg:running:
  - packages/running/**/*
  - packages/running/*
  - packages/running-extension/**/*
  - packages/running-extension/*

pkg:services:
  - packages/services/**/*
  - packages/services/*

pkg:settingeditor:
  - packages/settingeditor/**/*
  - packages/settingeditor/*
  - packages/settingeditor/**/*
  - packages/settingeditor/*

pkg:settingregistry:
  - packages/settingregistry/**/*
  - packages/settingregistry/*

pkg:shared-models:
  - packages/shared-models/**/*
  - packages/shared-models/*

pkg:shortcuts:
  - packages/shortcuts-extension/**/*
  - packages/shortcuts-extension/*

pkg:statedb:
  - packages/statedb/**/*
  - packages/statedb/*

pkg:statusbar:
  - packages/statusbar/**/*
  - packages/statusbar/*
  - packages/statusbar-extension/**/*
  - packages/statusbar-extension/*

pkg:terminal:
  - packages/terminal/**/*
  - packages/terminal/*
  - packages/terminal-extension/**/*
  - packages/terminal-extension/*

pkg:themes:
  - packages/theme-dark-extension/**/*
  - packages/theme-dark-extension/*
  - packages/theme-light-extension/**/*
  - packages/theme-light-extension/*

pkg:toc:
  - packages/toc/**/*
  - packages/toc/*
  - packages/toc-extension/**/*
  - packages/toc-extension/*

pkg:tooltip:
  - packages/tooltip/**/*
  - packages/tooltip/*
  - packages/tooltip-extension/**/*
  - packages/tooltip-extension/*

pkg:translation:
  - packages/translation/**/*
  - packages/translation/*
  - packages/translation-extension/**/*
  - packages/translation-extension/*

pkg:ui-components:
  - packages/ui-components/**/*
  - packages/ui-components/*
  - packages/ui-components-extension/**/*
  - packages/ui-components-extension/*

pkg:vdom:
  - packages/vdom/**/*
  - packages/vdom/*
  - packages/vdom-extension/**/*
  - packages/vdom-extension/*

pkg:vega:
  - packages/vega5-extension/**/*
  - packages/vega5-extension/*

DOC: update changelog & readme doc
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  RELEASE.md
  jupyterlab/staging/assets/exilir-note-2.svg
  jupyterlab/staging/assets/notebook.svg
Labels: none

DOC: add architecture
  README.md
  jupyterlab/staging/assets/architecture.jpg
Labels: none

DOC: add architecture 🥗
  jupyterlab/staging/assets/architecture.jpg
Labels: none

Feature: add terminal to `context-menu`
  packages/application-extension/src/index.tsx
  packages/filebrowser-extension/schema/browser.json
  packages/filebrowser-extension/src/index.ts
  packages/notebook-extension/src/index.ts
Labels: pkg:application, pkg:filebrowser, pkg:notebook

Feature: add terminal to `context-menu` & pin help bar
  packages/application-extension/src/index.tsx
  packages/application-extension/style/base.css
  packages/application/style/sidepanel.css
  packages/apputils-extension/src/palette.ts
  packages/statusbar-extension/src/index.ts
  packages/ui-components/src/icon/iconimports.ts
  packages/ui-components/style/icons/toolbar/help.svg
Labels: Design System CSS, tag:CSS, pkg:application, pkg:apputils, pkg:statusbar, pkg:ui-components

Feature: update extension disclaimer manage & fix side bar icon switch logic 🫑
  packages/application-extension/schema/sidebar.json
  packages/application-extension/src/index.tsx
  packages/debugger-extension/schema/main.json
  packages/debugger-extension/src/index.ts
  packages/extensionmanager-extension/schema/plugin.json
  packages/extensionmanager/src/widget.tsx
  packages/extensionmanager/style/base.css
Labels: Design System CSS, tag:CSS, pkg:application, pkg:debugger, pkg:extensionmanager
